@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* nav bar*/

.navbar {
    background: #1c2431;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-link {
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 30px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    background: #aaaaaa;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        top: 100px;
        width: 100%;
        position: absolute;
        background: #1c2431;
        transition: all 0.5s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
        margin-left: -50px;
    }

    .nav-menu.active {
        opacity: 1;
        height: 35vh;
        background: #1c2431;
    }

    

    .hamburger {
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;
    }

    .hamburger .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
    }

    .hamburger.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-link:hover::after {
        width: 0;
    }
}

.hero {
    background: #1c2431;
}

.hero-container {
    display: grid;
    place-items: center;
    align-self: center;
    height: 100vh;
    background: #1c2431;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    color: #fff;
}

.hero-container img {
    width: 50%;
    max-width: 1300px;
}

.hero-container button {
    padding: 10px 100px;
    background: #339ecc;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    outline: none;
    transition: all 0.35s;
}

.hero-container button a{
    position: relative;
    color: white;
    text-decoration: none;
    z-index: 2;
}

.hero-container button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 50px;
}

.hero-container button:hover::after {
    width: 100%;
}

.hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hero-container p {
    font-size: 1.5rem;
    color: #aaaaaa;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {


    .hero-container h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .hero-container p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .hero-container button {
        padding: 10px 50px;
    }
}


.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    align-self: center;
    height: 100vh;
    padding: 0 50px;
    text-align: center;
    color: #fff;
    background: #1c2431;
    margin: 0 auto;
}

.service-container h1 {
    font-size: 2rem;
}

.service-container p {
    font-size: 1.2rem;
    color: #aaaaaa;
}

@media screen and (max-width: 768px) {
    .service-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;

    }

    .service-container h1 {
        font-size: 1.5rem;
    }

    .service-container p {
        font-size: .8rem;
    }
}


.about {
    background: #1c2431;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #1c2431;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about-section h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem
}

.about-section p {
    color: #aaaaaa;
    margin-bottom: 1rem;
}

.about-section button {
    background: #1c2431;
    border: none;
    margin-top: 1rem;
}

.about-section button a {
    color: #aaaaaa;
    font-size: 1rem;
}

.about-img img{
    width: 100%;
    max-width: 1300px;
}

@media screen and (max-width: 768px) {
    .about-section {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }

    .about-section h1 {
        color: #fff;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .about-section p {
        color: #aaaaaa;
        margin-bottom: .8rem;
    }
    
    .about-section button {
        background: #1c2431;
        border: none;
        margin-top: .8rem;
    }
    
    .about-section button a {
        color: #aaaaaa;
        font-size: .8rem;
    }
}

.testimonial {
    background: #1c2431;
}

.testimonial-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 40vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    grid-gap: 1rem;
}

.testimonial-section .card {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
    color: #aaaaaa;;
}

.card h3 {
    color: #fff;
}

.satish {
    margin-left: -50px;
}

.card-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.card-profile img {
    clip-path: circle();
    width: 50px;
}

@media screen and (max-width: 768px) {
    .testimonial-section {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 100vh;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        grid-gap: 1rem;
    }
}

.features {
    background: #1c2431;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}


.features-section {
    background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(255, 255, 255, 1);
width: 50%;
text-align: center;
padding: 30px;
color: #fff;
}

.features-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.features-section p {
    color: #aaaaaa;
    margin-bottom: 1rem;
}

.features-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.features-text button {
    padding: 10px 50px;
    background: #339ecc;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    outline: none;
    transition: all 0.35s;
}

.features-text button a{
    position: relative;
    color: white;
    text-decoration: none;
    z-index: 2;
}

.features-text button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 50px;
}

.features-text button:hover::after {
    width: 100%;
}

.text {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 8px 50px;
}

@media screen and (max-width: 768px) {
    .features-text {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 1rem;
    }
}

.footer {
    background: #131313;
    color: #fff;
}

.footer-logo {
    display: flex;
    flex-direction: start;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    height: 80px;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    height: 30vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    grid-gap: 30px;
}

@media screen and (max-width: 768px) {
    .footer-section {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        grid-gap: 30px;
        align-items: center;
    }
}